<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Thêm link CSS của Bootstrap -->
</head>

<body>
   
    <div class="container">
      
        <form style="width: 500px" method="post" th:object="${form}">
            <div class="form-group">
                <label for="fullname" class="form-label">Full Name</label>
                <input type="text" class="form-control" th:field="*{fullname}" id="fullname" placeholder="Full Name">
            </div>
            <div class="form-group">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="Email Address">
            </div>

            <div class="form-group">
                <label for="marks" class="form-label">Average Marks</label>
                <input type="text" class="form-control" th:field="*{marks}" id="marks" placeholder="Average Marks">
            </div>
            <div class="form-group">
                <label class="form-label">Gender</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" th:field="*{gender}" value="true" id="male" checked>
                    <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" th:field="*{gender}" value="false" id="female">
                    <label class="form-check-label" for="female">Female</label>
                </div>
            </div>
            <div class="form-group">
                <label for="country" class="form-label">Nationality</label>
                <div class="input-group">
                    <select class="form-select form-control" th:field="*{country}" id="country">
                        <option value="">Select Nationality</option>
                        <option value="VN">Việt Nam</option>
                        <option value="US">United States</option>
                        <option value="Japan">Japan</option>
                    </select>
                </div>
            </div>
            
            
            <div class="form-group">
                <hr>
                <button th:formaction="@{/student/create}" type="submit" class="btn btn-primary">Save</button>
                <button th:formaction="@{|/student/update/${key}|}" type="submit" class="btn btn-info">Update</button>
                <button th:formaction="@{|/student/delete/${key}|}" type="submit" class="btn btn-warning">Delete</button>
                <button th:formaction="@{/student/index}" type="submit" class="btn btn-light">Reset</button>

            </div>
        </form>
    </div>
    <!-- Sử dụng các lớp CSS Bootstrap để tạo giao diện form -->

    <!-- Thêm link JavaScript của Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>